extends ../layout

block content
    h2 Dev room links for #{username}
    p Verification link: #[a(href="/user/verifyAccount?username=" + username + "&verifyKey=" + verifyKey) Link]
    p Reset PW link: #[a(href="/user/resetPassword?key=" + resetKey) Link]