extends ../layout

block content
    form.form-style(action="/user/forgotPassword", method="post")
        fieldset
            legend Request password reset
            label(for="username") Username
            input.common-input(type="text", name="username", placeholder="Username")
            input(type="submit", value="Request")
    p #{message}