extends ../layout

block content
	p #{message}
	form.form-style(action="/user/resetPassword?key=" + resetKey, method="post", style="display: " + hideShow)
		fieldset
			legend Update Password for #{username}
			input#password-input(type="password", name="newPassword", placeholder="New Password")
			input(type="submit", value="Update")
	br